.mainContainer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.gameContainer {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 390px;
}

.row {
    width: 130px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.operator {
    margin: 0 auto;
    padding-left: 10px;
    font-size: 36px;
}

.result {
    padding-left: 10px;
    font-size: 36px;
}

.button {
    width: 70px;
    height: 70px;
    font-size: 36px;
    border: 2px solid #dcdcdc;
    border-radius: 6px;
    background-color: white;
    cursor: grab;
    z-index: 1000;
}

.button:hover {
    background-color: #f5f5f5;
}

.button.dragging {
    cursor: grab; /* Cursor while dragging */
    background-color: #dcdcdc; /* Optional: Visual feedback for dragging */
}

.submitButton {
    margin: 0 auto;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    font-size: 28px;
    border: 2px solid #dcdcdc;
    background-color: white;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #f5f5f5;
}
